.env
sandbox.ipynb
.auth

.idea/Coursera IBM-Data-Science-Professional-Certificate.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/.gitignore
Course 7/.DS_Store
.DS_Store
.gitignore
